<div class="side-bar-header">
  <div class="header-name">
    <%= link_to 'Tom', '#' %>
  </div>
  <div class="create-chat">
    <%= link_to 'チャットを作成する', '#' %>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <%= link_to 'chatroom1', '#' %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= link_to 'chatroom2', '#' %>
    </div>
  </div>
</div>